{% extends "bootstrap/base.html" %}
{% block title %} 
Welcome
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4 text-center"> Welcome to Gift Recommendation System</h1>
    <h2 class="lead text-center">Relational Database Management System CC2202 Project</h2>
    <hr class="my-4">
    <br>
    <br>
    <p class="text-center">Made by Khushi Sanjeev Kumar Agrawal & Sayon Sai Dutta.</p>
    <h1 class="text-center"><a class="btn btn-danger btn-lg" href="{{ url_for('welcome') }}" role="button">Get Started</a></h1>
</div>
<style>
    body{
        background-color: lightgreen;
    }
    .jumbotron{
        background-color: lightgreen;
    }
    .my-4{
        background-color: tomato;
    }
</style>

{% endblock %}

